/*
 * Sidebar
 *
 *
 *
 */
.sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* Sidebar content */
.sidebar h2{
    margin-top: 0rem;
    color: #fff;
}
h2.sidebar-nav-item{
    border-top: 0;
}

/* Sidebar Profile */
.sidebar_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}
.sidebar_profile img{
    width: 80%;
    border-radius: 100%;
    margin-bottom: 0.5rem;
}

.sidebar-bottom{
}

/* Sidebar nav */
.sidebar-nav{
    border: 0;
    display: flex;
    flex-direction: column;
}
.sidebar-nav-accordion{
    cursor: pointer;
    transition: 0.4s;
} 
.category-active, .sidebar-nav-accordion:hover {
    
}
.sidevar-nav-panner {
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.sidebar-nav-accordion:after {
    content: '\254B'; /* Unicode character for "plus" sign (+) */
    font-size: .75rem;
    float: right;
    color: #fff;
}
  
.category-active:after {
    
    content: "\2501"; /* Unicode character for "minus" sign (-) */
}