body{
    height: 100vh;
    display: flex;
    background-color: var(--black_sub);
    align-items: center;
    justify-content: center;
}

/* Contain */
.contain{
    box-shadow: 4px 4px;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80%;
    background-color: var(--white);
    border-radius: 1%;
}
.manu_contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manu_title{
    width: 80%;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted var(--black_sub);
}
/* List */
.course{
    width: 80%;
    padding: 0;
}
.course > li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course > li > .dish_title{
    font-weight: bold;
}
.course > li > .dish_describe{
    font-weight: lighter;
    font-size: 0.8rem;
}

/* chef_describe */
.chef_describe{
    width: 100%;
    padding: 10px;
    text-align: right;
}
.chef_describe > p.chef_describe_item{
    color: var(--gray_sub);
    margin: 0;
}
.chef_describe > .chef_describe_item{
    color: var(--gray);
}
@media (max-width: 25rem) {
    .contain{
        width: 90%;   
    }
}
